#main-nav.navbar-default {
    background: #fff;
}

#main-nav.navbar-default .navbar-nav > li > a {
    color: #E67A32 !important;
}

#main-nav.navbar-default .navbar-nav > li > a:hover{
    background-color: #E67A32 !important;
    color: #f5f5f5 !important;
}

.slide-caption h2, .slide-caption blockquote p {
    color: #a6a6a6 !important;
}

@media only screen and (max-width : 767px) {
    .box {
        height: auto !important;
    }
}

.box a {
    position: absolute;
    bottom: 0;
    background: none !important;
    color:#cecece;
    font-size: 35px;
    left: 40%;
}

.box a :hover{
    color:#cecece;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.partheners {
    text-align: center;
}

#parceiros {
    padding: 100px 0;
}

.media-pan figure {
    margin: 0 0 26px 0;
    border-radius: none;
    border: none;
    text-align: center;
    width: none;
    height: 114px;
    line-height: none;
    display: inline-block;
}

.modal-content .modal-footer .btn{
    margin: auto;
    display: block;
    background-color: rgba(112, 113, 116, 0.87);
    border-radius: 6px;
}

.slide-caption h2, .slide-caption blockquote p {
    color: #fff !important;
    font-size: 30px;
    line-height: 30px;
}

.font-slide {
    font-size: 35px;
}

.ajust-list-1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.ajust-list-2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.ajust-list-3 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.demo-2 .bg-img-1 {
	background: url(../images/banner/logo.png) no-repeat center center  fixed;
}

@media only screen and (min-width : 320px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo320.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 480px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo480.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 768px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo768.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 992px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo992.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 1200px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo1200.png) no-repeat center center  fixed;
    }
    .slide-caption h2, .slide-caption blockquote p {
        color: #fff !important;
        font-size: 49px;
        line-height: 50px;
    }
    .demo-2 .sl-slider h2 {
        padding: 100px 30px 10px 30px;
    }
}

@media only screen and (min-width : 1900px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo1900.png) no-repeat center center  fixed;
    }
}

/*#####################*/


/*@media only screen and (min-width : 240px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo240.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 320px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo320.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 360px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo360.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 480px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo480.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 640px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo640.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 720px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo720.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 768px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo768.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 800px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo800.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 980px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo980.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 1024px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo1024.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 1080px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo1080.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 1280px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo1280.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 1366px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo1366.png) no-repeat center center  fixed;
    }
}

@media only screen and (min-width : 1900px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo1900.png) no-repeat center center  fixed;
    }
}*/


.second-slide-font {
    font-size: 40px;
}

.third-slide-font {
    line-height: 100%;
    font-size: 40px;
}

.team-info span {
    font-size: 12px;
}

blockquote {
    max-width: none !important;
}
.demo-2 .sl-slider h2 {
    max-width: none !important;
    font-weight: 400;
    font-size: 70px !important;
}

.legenda-slide {
    font-size: 49px !important;
}

@media only screen and (min-width : 1024px) {
    .demo-2 .bg-img-1 {
        background: url(../images/banner/logo1024.png) no-repeat center center  fixed;
    }
}

/*@media only screen and (max-width : 1024px) {

    .navbar-brand, .legenda-slide {
        display: none;
    }
}*/

.navbar-default .navbar-toggle .icon-bar {
    background-color: #e67a32;
}

li:before {
    color: red; /* or whatever color you prefer */
}

.font-contact {
    font-family: Arial;
}

#our-team {
    padding: 40px 0;
}

.first-banner-title blockquote h2 {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-top: 22px !important;
}

/*.width-video {
    width: 640px !important;
    height: 480px !important;
    margin-left: auto;
    margin-right: auto;
}*/

#contact-us {
    padding: 30px 0;
}

.contact-info {
    padding-top: 40px;
}

#portfolio {
    padding-top: 30px;
}

.icon-cellphone {
    font-size: 20px;
}

li {
    list-style-type: none;
    position:relative;
    margin-bottom:0.5em;
}

.ajust-list-2 li:before {
    content: '•';
    display: inline-block;
    position: absolute;
    left: -1em;
    color:#F15D22;
}

.ajust-list-1 li:before {
    content: '•';
    display: inline-block;
    position: absolute;
    left: -1em;
    color:#F15D22;
}

@media only screen and (max-device-width: 480px) {
    .first-banner-title {
        display: none;
    }
    /*.text-first-banner {
        display: none;
    }*/

    .first-banner-title blockquote h2 {
        display: none;
    }
}

.adjust-contact {
    margin-left: -25px;
}

address a {
    color: #fff;
}
